@use "../globals/" as *;

.about, .tech-stacks, .projects {
  margin-bottom: 40px;
  @include mq(md) {
    margin-bottom: 80px;
  }
}

.about {
  & p {
    font-size: 0.95rem;
    @include mq(md) {
      font-size: 1rem;
    }
  }
}

.tag-lewagon {
  font-weight: bold;
  background-color: #ff0099;
  color: #fff;
  padding: 3px 20px;
  text-decoration: none;
  border-radius: 5px;
}
