.footer {
  opacity: 0.6;
  margin-bottom: 30px;
  padding-bottom: 30px;
  &__text {
    & p {
      font-size: 7px;
      margin-bottom: 0;
      &:first-child {
        &:after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 8px;
          background-color: #000;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}
