@use "../globals/" as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  &__text{
    & h1 {
      margin-bottom: 0;
      font-size: 24px;
    }
    & p {
      font-size: 10px;
    }
  }
  @include mq(cf) {
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 150px;
    &__text{
      & h1 {
        margin-bottom: 0;
        font-size: 50px;
      }
      & p {
        font-size: 18px;
      }
    }
  }
}
