@use "../globals/" as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin: 100px 30px 50px 30px;
  &__text{
    & h1 {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 38px;
      @include mq(cf) {
        font-size: 2rem;
      }
    }
    & p {
      font-size: 1.05rem;
    }
  }
  @include mq(cf) {
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 150px;
    margin: 200px 50px 150px 50px;
    &__text{
      & h1 {
        margin-bottom: 0;
        font-size: 4.5rem;
      }
      & p {
        font-size: 1.6rem;
      }
    }
  }
}
